/* Stylen van de blokken en centrereren */

body {
  font-family: sans-serif;
  background: yellow;
}

main {
  margin: 0 auto;
  width: 50vw;
}

article {
  background: white;
  padding: 2em;
  margin-top: 5vh;
  margin-bottom: 5vh;
}

p {
  font-size: 4em;
  text-align: center;
}

strong {
  font-family: monospace;
}

/* 👇 Schrijf hieronder je eigen CSS

/* 1. Fade-in (intro). Gebruik property 'opacity' */

.fade {
  animation: verschijn 3s ease;
  opacity: 0;
  animation-iteration-count: infinite;
}

.fade:hover{
  opacity: 1;
}

@keyframes verschijn {
  from{
   opacity: 0;
  }
  to{
    opacity: 1;
  }
}

/* 2. Draaien (loopend) */
.turn{
  animation: draai 3s ease;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes draai{
0%{
  transform: rotate(0deg);
}
100%{
  transform: rotate(360deg);
}
}



/* 3. Scalen (op :hover) */

.scale{
  animation: vergroot 3s ease;
  animation-duration: 8s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;

}
@keyframes vergroot{
0%{
  transform: scale(0,01);
}
100%{
  transform: scale(8);
}
}
